* {
    margin: 0;
    padding: 0;
}
.container {
display: grid;
grid-template-columns: minmax(10px, .45fr) minmax(300px, 2fr);
margin: 20px;
}
.container div {
}
.side-bar {
    grid-column: 1/2;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;


}
.side-bar h1 {

}
.main-container {

    grid-column: 2/3;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
    grid-template-rows: 1fr auto;
    gap: 20px;
    align-items: center;

}
.card {
    background-color: blanchedalmond;
    width: 200px;
    height: 200px;
    border-left: 30px solid #fb923c;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-top: 20px;border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.card-border1 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border-bottom: 1px solid black;
    border-radius: 20px;

}
.book-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}
.plus {
    grid-row: 2;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(203, 213, 225, 0.2);
    border-radius: 20px;
    
    
}
.plus-icon {
width: 200px;
height: 200px;
}
.container-popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 40%;
   
}
.openForm {
border: none;
cursor: pointer;
}
.popup {
    background-color: #fecaca;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  
    
}

.form-popup {
 
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.overlay {
    display: none;
    z-index: 999;
}
.closebtn {
    border: none;
    background-color: #fecaca;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;

}
.add-btn {
    border: none;
    padding: 10px ;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}


